body{
    font-family: popins, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 45px;
}

.orange{
    color: orange;
}

.header{
    background-image: url('img/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 120px;
}

.half-width{
    width: 50%;
    padding-left: 6%;
    padding-right: 2%;
}

.half-width img{
    width: 80%;
}

.half-width p{
    color: #34495e;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 10px;
}

.hire-btn{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px 40px;
    border-radius: 5px;
}

.dream{
    background-image: url('img/dream-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 120px;
}

.resume-btn{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px 40px;
    border-radius: 5px;
}

.container{
    display: flex;
    margin-bottom: 120px;
}

.experience-area{
    background-image: url('img/exp-bg.png');
    background-position: left;
    background-repeat: no-repeat;
}

.card{
    width: 40%;
    box-shadow: 0 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    
}

.card h2{
    font-size: 35px;
}

.card p{
    color: #34495e;
    font-size: 18px;
    text-align: justify;
}

#border-1{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#border-2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}

@media all and (max-width: 420px)
{
    .header{
        flex-direction: column;
    }

    .dream{
        flex-direction: column;
    }

    .container{
        flex-direction: column;
        width: 100%;
    }

    .container h2{
        font-size: 22px;
    }

    .half-width{
        text-align: justify;
    }

    .half-width img{
        width: 100%;
        margin-top: 50px;
    }

    .resume-btn{
        padding: 10px 15px;
    }

    .experience-area h1{
        font-size: 30px;
    }

    footer p{
        width: 50%;
        text-align: center;
        margin-bottom: 10px;
    }
}